.fik__header {
    display: flex;
    justify-content: space-between;
    border-bottom: dotted black 1px;
    max-width: 100%;
    grid-column: span 4;
    align-items: center;
}

.fik__grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    grid-template-rows: auto auto;
    gap: 1em;
}

.fik__header-text {
    margin-bottom: 0.5em;
}

.fik__img {
    width: 100%;
}