.main-story__h2 {
    max-width: 18em;
    margin: 0 0 0 -1em;
    grid-column: 2;
    
}

.main-story__text {
    max-width: 32em;
    grid-column: 2;
    margin-left: -2em;
}

.main-story__section {
    /* text-align: center; */
    display: grid;
  grid-template-columns: 2fr 3fr;
    margin-left: 3em;
}


.main-story__img {
    max-width: 36.75em;
    max-height: 30.1875em;
    margin-left: 0.5em;
    margin-right: -2em;
}

.main-story__img-order {
    order: 1;
    
}

.main-story__abonnemant {
    grid-column: 2;
    margin-top: 4em;
    margin-left: -2em;
}


.main-story__img-text {
    width: 17em;
    text-align: right;
}

.main-story__figure {
    grid-column: span 2;
    margin: 0;
    margin-left: 4.5em;
}




