.udland__name-gird {
    display: grid;
    grid-template-columns: 1fr 2fr ;
    grid-template-rows: auto auto ;
    grid-template-areas: 
    "udland__grid-img udland__grid-name udland__grid-name"
    "udland__grid-img udland__grid-email udland__grid-twitter";
    width: 13em;

}

.udland__grid-img  { grid-area: udland__grid-img; }
.udland__grid-name  { grid-area: udland__grid-name; 
                        margin: 0 0 0.1em 0em;
}
.udland__grid-email  { grid-area: udland__grid-email; }
.udland__grid-twitter  { grid-area: udland__grid-twitter; }

.udland__aside {
    grid-column: 1;
}

.udland__line {
    border-bottom: dotted black 1px;
}

.udland__text-grid {
    display: grid;
    grid-template-columns: 2fr 1fr;
    position: relative;
}



.udland__time-margin {
    margin-top: 0.8em;
}


.main-udland__section {
    display: grid;
    grid-auto-columns: 2fr 3fr;
    
}

.main-udland__time-komment {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.2em;
}

.udland__line-gap {
    display: grid;
    gap: 1em;
    grid-template-columns: 1fr 2fr;
}


.udland__text {
    width: 23em;
}

.udland__messege-li {
    padding: 0.5em 6em 0.5em 0.5em;
    
    width: 6.25em;
}

.udland__facebook-li {
    background-color: rgb(48, 97, 153);
}

.udland__tweet-li {
    background-color: rgb(38, 196, 241);
}

.udland__email-li {
    background-color: rgb(153, 153, 153);
}

.udland__li-text {
    display: flex;
    align-items: center;
    gap: 1em;
    font-size: 0.85rem;
}

.udland__fte {
    gap: 0.3em;
  height: 2em;
}

.udland__klik-bottem {
    background-color: rgb(221, 0, 0);
    border: transparent;
    padding: 0.5em 4em;
    border-radius: 0.3em;
    margin-left: 6em;
}

.subscribe::before {
    background: linear-gradient(0deg, #fff 5%, transparent 100%);
    border: transparent none;
    content: "";
    position: absolute;
    top: 1%;
    left: 0%;
    width: 100%;
    height: 12em;
}